*{
    Margin :0;
    padding:0;
    vertical-align:baseline;
    list-style:none; 
    font-family: 'Segoe UI', Roboto, Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
    background-color: rgb(167, 220, 235);
    overflow: hidden;
    line-height: 200px;
    max-height: 200px;
}

header > h1{/*Selecionar aqui a cor da letra do nosso H1 ou seja, do nosso título*/
    color: rgb(0, 0, 0);/*Chamamos a propiedade color e definimos uma cor em questão*/
    }
    
    header > img{/*Aqui estamos chamando nossa imagem para ser atribuidas alterações*/
        width: 250px;/*Largura da nossa imagem*/
        height: 250px;/*Tamanho da nossa imagem*/
    }
    #menu-header{/*Nosso menu de navegação*/
        display: flex;/*Responsável por colocar os itens na mesma linha(lado a lado)*/
        align-items: center;/*Alinhar os itens o nosso Header para o centro*/
    }
    #list-menu{/*Nesta lista não ordenada, aqui mudaremos diretamente nossa lista*/
        display: flex;/*Reponsável por colocar os itens na mesma linha(Lado a lado)*/
        margin-right: 5rem ;/*Margem da direita. REM equivale a 16px, ou seja podemos usa-lo para dacilitar a inserção de px*/
    }
    
 .item-menu-header {/*Nossas li que estão dentro do LIST MENU onde se encontram os nomes dos itens */
           margin-right: 25px;/*Margem da direita*/
        }

 .item-menu-header> a:hover {/*Nossas que estão dentro do LIST MENU. nossa tag de link*/
          color: rgb(248, 248, 248);
          transition: 0.6s;/* É o tempo em que será exibido ao passar o cursor*/
        }

        .item-menu-header > a {/*Nossas que estão dentro do LIST MENU. nossa tag de link*/
            color: rgb(0, 0, 0);
            text-decoration: none;/*Tirar o sublinhado visivel*/
            font-size: 20px;
        }
         
        #btn-header{/*Nossa id do Botão de login*/
            display: flex;/*Responsável por colocar os itens na mesma linha (lado a lado)*/
        }

        #btn-header > button{ /*Aqui chamamos nosso ID e onde queremos fazer alterções, no caso o nos*/
           padding: 30px;/*Cuida do preenchimento*/
           background-color: transparent;/*Aqui deixamos o fundo do Botão transparente,ou seja sem cor */
           border:none;/*none é usado para retirar algo,nesse caso a borda*/
        }

        #btn-header> button> a{/*Estamos chamando aqui nossa TAG de link para alteração*/
           display: flex;/*Responsável por colocar os itens na mesma linha (lado a lado)*/
           align-items: center;/*Alinhar os itens para o centro*/
        }

        #btn-header>button>a>img{/*Aqui estamos mexendo no ICON do botão*/
            width: 50px;/*Largura*/
            height: 50px;/*Tamanho*/
            margin-right: 2px;/*Margem da direita*/
        }
        #img-fundo{/* Aqui chamamos a ID que chamamos mo HTML*/
            padding: 260px;/*Cuida do preenchimento*/
            background-image: url(img/pneus\ fundo.jpg);/*usada pra inserir do preenchimento*/
            background-position: center;
        }
       
        
        main> section > h2{
            margin-top: 0%;
            font-size: 36px;/*Tamanho da letra*/
            text-align: center;/*Alinhando o texto para o centro*/
            color: black;/*Cor da letra do nosso H2*/
        }

        #clients{/*Aqui chamamos nosso ID da section*/
            background-color: white;/*Cor de fundo da nossa section*/
            margin-top: 0px;/**/
            padding: 50px;/*Cuida do preenchimento*/
        }

        .line{/*Aqui Chamamos nossa class que está dentro do nosso HR, que é utilizada como uma quebra de linha temática entre elementos HTML*/
            margin: 0 auto;/*Definimos em 0 a margin e colocamos o mesmo para o mesmo para auto para que recaia para o todo*/
            width: 20%;/*Largura*/
        }

        #clients-list{/*Aqui chamamos a nossa id*/
            display: flex;/*Responsável por colocar os itens na mesma linha*/
            align-items: center;/*Alinhar os itens para o centro*/
            justify-content: space-evenly;/*Tradução: justicar-conteúdo:espaço uniformemente. Alinhar os itens igualmento dentro da página*/
            margin-top: 30px;/*Indica o espaço acima do elemento/ superior*/
        }

            .clients-item{/*Aqui chamamos nossa class que está da nossa ID*/
                display:flex;/*Responsável por colocar os itens na mesma linha*/
                justify-content: center;/*Justificar-conteúdo no centro*/
                align-items: center;/*Alinhar os itens para o centro*/
                flex-direction: column;/**/
            }

            .clients-item > img{/*Aqui chamamos nossa TAG IMG para estilização*/
                width: 84px;/*Tamanho*/
                height: 84px;/*Largura*/
            }

            .clients-item> h3{/*Aqui chamamos nosso h3 para estilizar*/
                font-family: 'Dancing Script', cursive;/*Fonte desconhecida*/
                font-size: 26px;/*Tamanho*/
                margin-top: 10px;/*Alinha os itens para o centro*/
                align-items: center;/*Indica o espaço acima do elemento/superior*/
                margin-top: 10px;
            }

            .clients-item> p  {/*Aqui chamamos nossa TAG P para estilização*/
                font-family:'Dancing Script', cursive;/*Fonte escolhida*/
                font-size: 26px;/*Tamanho da fonte*/
                margin-top: 10px;/*Indica o espaço acima do elemento/superior*/
                align-items: center;/*Alinhar os itens para o centro*/
            }
            
            #featured-products{/*ID usada para a section do nossos produtos                                   */
                background: linear-gradient(180deg,#91cad6 8.33%, rgba(244, 200,175,0)100%);
                padding: 30px;/*Preenchimento*/
            }

            .products{/*Aqui chamamos nossa class dos produtos para estilização*/
                margin-top: 3em;/*Indica chamamos nossa Class dos produtos acima do elemento*/
                display: flex;/*Reponsável por colocar os itens na mesma linha*/
                align-items: center;/*Alinhar os itens para o centro*/
                justify-content: space-evenly;
            }

            .img-product{/*Class inserida nas nossas tags IMG*/
                width: 300px;/*Largura*/
                height: 300px;/*Tamanho*/
                border-radius: 50px;/*Estilo arredondado das bordas*/
            }

            .title-products{/**/
                margin-top: 10px;/*Indica o espaço acima do elemento*/
                font-family: 'ubunto','sans-serif';/*fonte Selecionada*/
                text-align: center;/*Alinhar texto ao centro*/
                font-size: 22px;/*tamanho da letra*/
            }

            #featured-products> a {/*Aqui chamamos nossa TAG de link para estilização*/
                text-decoration: none;/**/
                font-family:'ubunto','sans-serif';/*Fonte Selecionada*/
                font-size: 20px;/*Tamanho da letra*/
                color: red;/*Cor da letra*/
            }

            #featured-products> a:hover{/*Aqui estamos chamando novamente nossa TAG de link para colocar*/
                text-decoration: underline;/*Aqui chamamos o text decoration para colocar uma decoração ao*/
                font-size: 22px;/*Tamanho da letra ao passar o cursor em cima*/
                transition: 1;/*O tempo que será realizado esta ação*/

            }

            #sobre-nos{/*Chamamos aqui noosa ID*/
                background-image: url(img/banner\ fundo.jpg);/*Usado para inserir a imagem do fundo*/
                background-repeat: underline;/*Aqui colocamos a função para a imagem não seja repetida*/
                background-attachment: fixed;/**/
                background-position: center;/*Na posição da imagem colocamos ao centro*/
                background-size: cover;/**/
                padding: 120px;/*Preenchimento*/
            }


            #sobre-nos> h3 {/**/
                color:white;/**/
                font-size:64px;/**/
                text-align: center;/**/
                font-family: 'Ubunto', 'sans-serif';/**/
            }
             
            #sobre-nos > p {
                font-family: 'Ubunto', 'sans-Serif';
                font-weight: 500;/**/
                color: white;
                font-size: 22px;
                margin-top:  2em; 
                text-align: left;
            }

            footer{
                padding: 80px;
                background-image: url(img/pneu1.webp);
                background-position: bottom ;
                background-repeat:  no-repeat;
            }
             footer > ul{
                display: flex;
                justify-content: space-evenly;
             }

             footer > h2{
                color: rgb(255, 255, 255);
                font-size:40px;
                font-weight: bold;
                text-align: center;
                margin-bottom: 1em;

             }

             .item-menu-footer{
                display: flex;
                align-items: center;
                margin-top: 30px;
             }

             .item-menu-footer > img{
                width: 34px;
                height: 34px;
             }

             .item-menu-footer > p {
                color: rgb(255, 255, 255); 
                font-size: 25px; 
                font-weight: bold; 
                 text-align: center ;
                 margin-bottom: 30px;

             }
